<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test  name="ChromeTest">
  <parameter name="nodeurl" value="http://192.168.1.22:4444/wd/hub"/>
   <parameter name="browser" value="chrome"/>
   <parameter name="appurl" value="https://demo.actitime.com"/>
    <packages>
      <package name="Com.ActiTime.Tests"/>
    </packages>
  </test> 
  <test  name="firefoxTest">
  <parameter name="nodeurl" value="http://192.168.1.22:4444/wd/hub"/>
   <parameter name="browser" value="firefox"/>
   <parameter name="appurl" value="https://demo.actitime.com"/>
    <packages>
      <package name="Com.ActiTime.Tests"/>
    </packages>
  </test>
  <test  name="IETest">
  <parameter name="nodeurl" value="http://192.168.1.22:4444/wd/hub"/>
   <parameter name="browser" value="internet explorer"/>
   <parameter name="appurl" value="https://demo.actitime.com"/>
    <packages>
      <package name="Com.ActiTime.Tests"/>
    </packages>
  </test><!-- Test -->
</suite> <!-- Suite -->
